@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Roboto", sans-serif;
}

html,
body {
  width: 100%;
}


.mainA {
  width: 100%;
  /* padding: .5vw; */
  position: relative;
}

.left {
  width: 30%;
  height: 100vh;
  padding:.5vw;
}

.right {
  width: 70%;
  height: 100vh;
  padding: .5vw .5vw;
  /* padding-right: 14px; */
}

.ri-spotify-fill {
  color: rgb(58, 214, 11);
  font-size: 29px;
  /* padding: 2vw; */
}

.logo {
  padding: 1vw;
}

.home,
.search {
  gap: 10px;
  padding: 3px;
}

.ri-home-line {
  color: white;
  font-size: 22px;
}

.ri-search-line {
  color: white;
  font-size: 22px;
}

.home-icon {
  padding: 0  1vw;
  font-size: 18px;
}

.search-icon {
  padding: 0 1vw;
  font-size: 18px;
}

.box1 {
  border-radius: 10px;
  background-color: rgb(25, 24, 24);
  padding: 2vw;
}

.box2 {
  border-radius: 10px;
  background-color: rgb(25, 24, 24);
  height: 73.6%;
  padding: 1vw;
  margin-top: 5px;
  font-size: 18px;
  position: relative;
}

.box2A {
  gap: 10px;
  top: 0;
  left: 0;
  z-index: 12;
  position: absolute;
}

.scrollableContent {
  /* border: 2px solid green; */
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 0;
  right: 0;
  overflow-y: scroll;
}



.ri-folder-music-fill {
  color: white;
  font-size: 22px;
  padding: 1vw;
}

.box3 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(0, 0, 0);
  padding: 1vw ;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer {
  position: absolute;
  bottom: 2.5%;
  left: 0;
  padding: 1vw;
  width: 100%;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
}


.header img{
  height: 50px;
  /* border: 1px solid white; */
  padding: 4px;
  border-radius: 10px;
}

.logSignBtn i{
  font-size: 20px;
  color: black;
}
.login{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

.R-box1 {
  padding: 2vw;
  /* border: 2px solid red; */
  padding-left: 1vw;
  height: 40px;
  background-color: rgb(25, 24, 24);
  color: white;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  padding: 1vw 2vw;
  width: 100%;
  height: 71.3%;
  background-image: linear-gradient(rgb(37, 36, 36), rgb(38, 35, 35));
  overflow: auto;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
}

.cardsContainer .card {
  background-color: rgb(44, 42, 42);
  padding: 1vw;
  border-radius: 10px;
  width: 200px;
  height: 250px;
  flex-direction: column;
  font-size: 14px;
  position: relative;
  cursor: pointer;
}

.cardImg {
  width: 170px;
  height: 170px;
  padding: 5px;
  /* border: 2px solid red; */
}

.cardImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.cardsContainer .card .caption {
  padding: 0px 1vw;
}

.playBtn {
  font-size: 20px;
  background-color: rgb(58, 214, 11);
  border-radius: 50%;
  height: 45px;
  width: 45px;
  padding: 3px;
  position: absolute;
  bottom: 30px;
  right: 20px;
  opacity: 0;
}

.card:hover {
  background-color: black;
}

.card:hover .playBtn {
  transform: translateY(-40px);
  opacity: 1;
  transition: ease-in 0.2s;
}

.playBtn:hover {
  background-color: rgb(46, 45, 45);
  transition: ease-in 0.2s;
}
.playBtn:hover i {
  color: white;
  transition: ease-in 0.2s;
}

.card:not(:hover) .playBtn {
  transform: translateY(-5px);
  transition: 0.2s;
}

.playBtn i {
  color: black;
  font-size: 30px;
}

.leftSongCard {
  /* border: 2px solid rgb(46, 23, 201); */
  border-radius: 5px;
  background-color: rgb(50, 51, 52);
  height: 40px;
  width: 95%;
  left: -10px;
  margin: 3px 18px;
  padding: 10px;
  cursor: pointer;
}

.leftSongCard .songName {
  font-size: 13px;
  font-weight: 700;
}

.leftSongCard .artistName {
  font-size: 11px;
  font-weight: 700;
}

.music-icon {
  height: 30px;
  width: 30px;
  border: 1px solid white;
  margin-right: 10px;
  border-radius: 50%;
  background-color: black;
}

.musicPlayBtn {
  height: 30px;
  width: 30px;
  /* border: 1px solid white; */
  margin-right: 10px;
  border-radius: 50%;
  opacity: 0;
  background-color: rgb(58, 214, 11);
}

.leftSongCard:hover .musicPlayBtn {
  opacity: 1;
  transition: all ease-in 0.2s;
}

.leftSongCard:not(:hover) .musicPlayBtn {
  transition: 0.5s;
}

.leftSongCard:hover {
  background-color: black;
  transition: ease 0.2s;
}

.playBarBox{
  height: 70px;
  /* background-color: rgb(0, 0, 0); */
  width: 100%;
  bottom: 10px;
  border-radius: 10px;
  padding: .5vw;

}

.playBar{
  height: 70px;
  background-color: rgb(48, 45, 45);
  width: 100%;
  bottom: 0;
  border-radius: 10px;
  padding: 10px 30px;
}

.songImage{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 25%;
}

.playedSong{
   height: 40px;
   width: 40px;
}

.playedSong img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.previousSong,.playPauseBtn, .nextSong{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.previousSong i , .nextSong i{
  color: black;
  font-size: larger;
}

.playPauseBtn img{
  height: 25px;
  width: 25px;
}

.playPauseBtn #pause{
  display: none;
}

.playBarMenu{
  gap: 20px;
  width: 25%;
}

.volumeBtn{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

.extraMenu{
  width: 10%;
  justify-content: flex-end;
}
.volumeBtn i{
  color: black;
  font-size: large;
}

.seekBar{
  width: 100%;
  height: 4px;
  background-color: rgb(145, 145, 145);
  border-radius: 2px;
  position: relative;
  cursor: pointer;
  top: 8px;
}

.seekBar .circle{
  height: 12px;
  width: 12px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  bottom: -4px;
  cursor: pointer;
  left: 0%;
  transition: all .2s;
}

.circle:hover{
  transform: scale(1.2);
  background-color: rgb(34, 255, 0);
}

.songTime{
  width: 38%;
}

.hamBurger{
  display: none;
}


/* media queries for mobile screen */

@media (max-width: 767px) {
  .login{
    margin-right: 15px;
  }

  .header img{
    height: 39px;
  }

  .header{
    padding-left:15px ;
  }
  .left{
    position: absolute;
    left: -100%;
    transition: all .3s;
    z-index: 1;
    width: 80%;
    height: 83vh;
    top: 6%;
    /* border: 2px solid red; */
    background-color: black;
    z-index: 2;
  }
  .left .box1 , .box2{
    border-radius: 0;
    margin: 0;
  }
  .left .box2{
    height: 100%;
  }

  .right{
    width: 100%;
    padding: 0;
    height:100vh ;
    /* border: 2px solid red; */
    /* z-index: 5; */
    position: relative;

  }

  .playBarBox .songImage{
   position: absolute;
   /* border: 2px solid red; */
   width: 100vw;
   bottom: 85px;
   background-color: rgb(0, 0, 0);
   padding: 5px 10px;
   z-index: 1;
  }

  .playBarBox .extraMenu{
    display: none;
  }

  .playBar{
    display: flex;
    flex-direction: column-reverse;
    /* border: 2px solid green; */
    height: 100%;
    background-color: black;
  }
  .songTime{
    width: 100%;
  }
  .seekBar{
    width: 100%;
  }

  .playBarBox{
    /* border: 2px solid red; */
    padding: 0;
    margin-bottom: 10px;
    height: 90px;
    position: relative;
    bottom: 0%;
  }

  .playBarMenu{
    /* border: 1px solid red; */
    width: 100%;
  }

  .cardsContainer{
    width: 100%;
    justify-content: space-around;
    height: 66%;
  }

  .cardsContainer .card {
  background-color: rgb(44, 42, 42);
  padding: 1vw;
  border-radius: 10px;
  width: 40%;
  height: 40%;
  flex-direction: column;
  font-size: 12px;
  position: relative;
  cursor: pointer;
}

.cardImg {
  width: 70%;
  height: 60%;
  padding: 3px;
  /* border: 2px solid red; */
}

.hamBurger{
  font-size: 30px;
  display: block;
}
.hamBurger i{
  color: rgb(185, 185, 185);
  transition: all .2s;
  cursor: pointer;
}

.hamBurger i:hover{
  color: rgb(255, 255, 255);
}
}

/* media queries for tablet screen */

@media only screen and (min-width: 767px) and (max-width: 1024px) {
   
  .mainA{
    height: 100vh;
    position: relative;
  }
  
  .login{
    margin-right: 15px;
  }
  .right{
    width: 60%;
    /* border: 2px solid red; */
    height: 100vh;
   }
   .left{
    width: 40%;
    height: 100vh;
    /* border: 2px solid red; */
    /* border: 2px solid red; */
   }

   .left .box2{
    height: 73.5%;
   }

   .cardsContainer{
    justify-content: space-evenly;
    flex-wrap: wrap;
   }

   .playBarBox .songImage{
    position: absolute;
    /* border: 2px solid red; */
    width: 100%;
    bottom: 70px;
    background-color: rgb(0, 0, 0);
    left: 0;
    padding: 15px 30px;
    border-radius: 0px;
   }

   .playBarBox{
    bottom: 0px;
   }

   .playBar{
    position: relative;
    /* left: -5px; */
    width: 100vw;
    border-radius: 0px;
    background-color: black;
   }


   .playBarBox .extraMenu{
    position: absolute;
    right: 30px;
    bottom: 100px;
   }

   .songTime{
    /* border: 2px solid red; */
    width: 70%;
   }


}

